Dependency directories

node_modules/
jspm_packages/

OS metadata

.DS_Store
Thumbs.db

Environment variables & Secrets

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

Config files with secrets 

config.js
auth_manager.js

Logs

npm-debug.log*
yarn-debug.log*
yarn-error.log*